@model StudentsRegister.Models.Student

@{
    ViewBag.Title = "Details";
    var bytes = Model.Picture;
    string rawPicture = Convert.ToBase64String(bytes, 0, bytes.Length);
    var picture = "data:image/png;base64," + rawPicture;
}

<h1>Details for @Model.Name</h1>
<img class="col-sm-12" src="@picture" alt="@Model.Name" />
<dl>
    <dt>@Model.Name</dt>
    <dd>@Model.Id</dd>
    <dd>@Model.GetBirthdate</dd>
    <dd>@Model.Gender</dd>
    <dd>@Model.CPR</dd>
</dl>
<hr />
@Html.ActionLink("Go Back", "Index")

