@model IEnumerable<StudentsRegister.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>List of students</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.CPR)</th>
            <th>@Html.DisplayNameFor(model => model.Birthdate)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.OrderBy( model => model.Name))
        {
            <tr>
                <td>@Html.ActionLink(student.Name, "Details", "Students", new { id = student.Id}, null)</td>
                <td>@student.CPR</td>
                <td>@student.GetBirthdate</td>
                <td>@student.Gender</td>
                <td>Edit</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = student.Id})</td>
            </tr>
        }
    </tbody>
</table>

